* {
    background-color: #202020;
    color: #ffffff;
    font-family: 'Open-sans', sans-serif;
}

#slideshow{
    background-image: url('../images/pexels-photo-2728557.jpeg');
    background-size: contain;
    max-width: 100%;    
    height: 35.5em;
    margin-bottom: 1px;
}
#navbar {
    position: absolute;
    left: 45%;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
    background-color: transparent;
    
}
.nav-item { 
    padding: 0.5rem 0rem;
    background-color: transparent;
    font-size: 150%;
    color: white;
}
a {
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}
#lounge {
    position: absolute;
    top: 190px;
    right: 3px;
    bottom: 10;
    left: 34%;
    font-family: 'Montserrat Subrayada', sans-serif;
    background-color: transparent;
    font-size: 900%;
   
}
#tagline {
    position: absolute;
    top: 78%;
    right: 3px;
    bottom: 10;
    left: 39%;
    background-color: transparent;
    font-family: 'Montserrat Subrayada', sans-serif;
}
#downarrow {
    position: absolute;
    top: 85%;
    right: 3px;
    bottom: 10;
    left: 46%;
    background-color: transparent;
    font-family: 'Montserrat Subrayada', sans-serif;
}

nav, button {
    color: black;
}

form, button {
    background-color: white;
}

div.container {
    margin-bottom: 30px;
}

.body {
    background-color: #202020;
}

img.img-fluid {
    height: 200px;
    width: 300px;
}

#lounge {
    font-family: 'Montserrat Subrayada', sans-serif;
}

#discover {
    color: rgb(9, 194, 255);
}

#new {
    margin-top: 5px;
}

#get {
    color: rgb(9, 194, 255);
    margin-top: 50px;
}

#nowPlaying {
    background-color: #202020;
}